* 
{
    font-family: Rowdies, Share Tech Mono;
}

#board, .boardInfo 
{
    max-width: 500px;
}

#board 
{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

 #start, .boardInfo 
 {
    font-size: 25px;
 }

 #gameOver 
 {
    display: none;
    color: red;
    font-size: 30px;
 }

 .boardInfo 
 {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
 }

 #start 
 {
    background-color: rgb(239, 100, 100);
    border: none;
    color: white;
    font-size: 35px;
 }

 #scoreBoard 
 {
    display: inline-flex;
    font-size: 30px;
 }

 #score
 {
   font-size: 30px;
 }

 .square 
 {
    aspect-ratio: 1;
 }

 .emptySquare
 {
    background-color: #456990;
 }

 .snakeSquare
 {
    background-color: #d6f69a;
 }

 .foodSquare
 {
    background-color: #f35a69;
 }

 #pageTitle
 {
   font-size: 60px;
 }